.user-info {
    text-align: center;
    font-weight: bold;
}

.container-fluid.user-info {
    position: fixed;
}

tr {
    text-align: center;
    border-width: thick;
}

tbody tr {
    height: 250px;
}

tbody td {
    height: 250px;
}

td, th {
    border-width: 0px !important;
}

td {
    align-content: center;
    width: 25%;
}

table {
    border-width: thin !important;
}

td.game-info {
    width: 14.3rem;
}

.card {
    min-height: 100%;
    height: auto;
}

.card.body {
    padding-top: 1rem;
}

.card-body.guessed {
    background-color: rgb(88, 195, 88);
}

.card-body.not-guessed {
    background-color: rgb(240, 100, 100);
}
